.label {
  display: inline-block;

  &-block {
    display: block;
    width: 100%;
  }

  &-lg {
    padding: 6px 18px;
    font-size: 12px;
  }

  &-xl {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 2.4;
    vertical-align: middle;
    text-align: left;
    font-weight: normal;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &.pull-right {
    display: block;
    margin-top: 2px;
  }
}
