.nav-tabs {
  border-bottom: none;

  > li > a {
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid transparent;

    &:hover {
      background: none;
      border-bottom-color: $info;
    }
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav.nav-tabs > li.active > a {
  background: none;
  border: none;
  border-bottom: 3px solid $info;
}
