.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 13px 10px;
}

.table {

  tbody {
    .muted {
      color: rgba(#000, .4);
    }

    .status {
      width: 10%;
    }
  }

  &--groups {
    td {
      width: 20%;
    }

    .date,
    .places {
      width: 10%;
    }

    .comment {
      width: 30%;
    }
  }

  &--subjects {
    .test-edit {
      text-align: right;
    }
  }

  &--student {
    .applications,
    .status,
    .test,
    .payments {
      width: 17%;
    }
  }

  &--subject {
    .questions {
      width: 50%;
      overflow: hidden;
    }
    .number {
      display: inline-block;
      border: 1px solid #dbe0e4;
      padding: 5px 10px;
      margin-right: 10px;
    }
    .drag {
      color: grey;
      cursor: pointer;
    }
  }
}
